body {
    font-family: Arial, sans-serif;
    background: #f2f5f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}


input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}


button {
    width: 95%;
    padding: 10px;
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}